## Auralin Clinical Trial Data Analysis

### Content Outline
1. [Description of Dataset](#topic1)
2. Table Descriptions
    - [`patients`: Table description](#topic2)
    - [`treatments`: Table description](#topic3)
    - [`adverse_reactions`: Table description](#topic7)
3. [Assessing the data](#topic4)
4. [Off Concepts](#topic5)
5. [Assessment issues](#topic6)

### Description of Dataset <a id='topic1'></a>

The is a phase II clinical trial dataset for the new drug Auralin (hypothetical). The drug is undegoing trials and its performance is measured against the efficacy of the currently administered one - Novodra.

>Auralin is supposed to be the new orally administered insulin for diabetics. Novodra is based on the prevailinng syringe-injected cure already available.

>This dataset is obtained from Udacity's data analysis course and was curated in close contanct with doctors to largely mimic a real trial dataset.

>In this notbook, we will only be assessing the data for **cleaniness** and **tidiness** and noting our observations. Following that, the data will be cleaned and explored for insights.

The dataset has three tables that will described in more detail below, to beter understand the terms and their implications

In [3]:
import pandas as pd

In [4]:
patients =  pd.read_csv('patients.csv')
patients.head(10)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1
5,6,male,Rafael,Costa,1140 Willis Avenue,Daytona Beach,Florida,32114.0,United States,386-334-5237RafaelCardosoCosta@gustr.com,8/31/1931,183.9,70,26.4
6,7,female,Mary,Adams,3145 Sheila Lane,Burbank,NV,84728.0,United States,775-533-5933MaryBAdams@einrot.com,11/19/1969,146.3,65,24.3
7,8,female,Xiuxiu,Chang,2687 Black Oak Hollow Road,Morgan Hill,CA,95037.0,United States,XiuxiuChang@einrot.com1 408 778 3236,8/13/1958,158.0,60,30.9
8,9,male,Dsvid,Gustafsson,1790 Nutter Street,Kansas City,MO,64105.0,United States,816-265-9578DavidGustafsson@armyspy.com,3/6/1937,163.9,66,26.5
9,10,female,Sophie,Cabrera,3303 Anmoore Road,New York,New York,10011.0,United States,SophieCabreraIbarra@teleworm.us1 718 795 9124,12/3/1930,194.7,64,33.4

#### `patients`: Table description <a id='topic2'></a>

`patients` columns:
- **patient_id**: the unique identifier for each patient in the [Master Patient Index](https://en.wikipedia.org/wiki/Enterprise_master_patient_index) (i.e. patient database) of the pharmaceutical company that is producing Auralin
- **assigned_sex**: the assigned sex of each patient at birth (male or female)
- **given_name**: the given name (i.e. first name) of each patient
- **surname**: the surname (i.e. last name) of each patient
- **address**: the main address for each patient
- **city**: the corresponding city for the main address of each patient
- **state**: the corresponding state for the main address of each patient
- **zip_code**: the corresponding zip code for the main address of each patient
- **country**: the corresponding country for the main address of each patient (all United states for this clinical trial)
- **contact**: phone number and email information for each patient
- **birthdate**: the date of birth of each patient (month/day/year). The [inclusion criteria](https://en.wikipedia.org/wiki/Inclusion_and_exclusion_criteria) for this clinical trial is  age >= 18 *(there is no maximum age because diabetes is a [growing problem](http://www.diabetes.co.uk/diabetes-and-the-elderly.html) among the elderly population)*
- **weight**: the weight of each patient in pounds (lbs)
- **height**: the height of each patient in inches (in)
- **bmi**: the Body Mass Index (BMI) of each patient. BMI is a simple calculation using a person's height and weight. The formula is BMI = kg/m<sup>2</sup> where kg is a person's weight in kilograms and m<sup>2</sup> is their height in metres squared. A BMI of 25.0 or more is overweight, while the healthy range is 18.5 to 24.9. *The [inclusion criteria](https://en.wikipedia.org/wiki/Inclusion_and_exclusion_criteria) for this clinical trial is 16 >= BMI >= 38.*

In [5]:
treatments = pd.read_csv('treatments.csv')
treatments.head(10)

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,ménard,-,54u - 54u,8.08,7.70,NaN
9,asia,woźniak,30u - 36u,-,7.76,7.37,NaN

#### `treatments`: Table description <a id='topic3'></a>
 
350 patients participated in this clinical trial. None of the patients were using Novodra (a popular injectable insulin) or Auralin (the oral insulin being researched) as their primary source of insulin before.  All were experiencing elevated HbA1c levels.

All 350 patients were treated with Novodra to establish a baseline HbA1c level and insulin dose. After four weeks, which isn’t enough time to capture all the change in HbA1c that can be attributed by the switch to Auralin or Novodra:
- 175 patients switched to Auralin for 24 weeks
- 175 patients continued using Novodra for 24 weeks

`treatments` columns:
- **given_name**: the given name of each patient in the Master Patient Index that took part in the clinical trial
- **surname**: the surname of each patient in the Master Patient Index that took part in the clinical trial
- **auralin**: the baseline median daily dose of insulin from the week prior to switching to Auralin (the number before the dash) *and* the ending median daily dose of insulin at the end of the 24 weeks of treatment measured over the 24th week of treatment (the number after the dash). Both are measured in units (shortform 'u'), which is the [international unit](https://en.wikipedia.org/wiki/International_unit) of measurement and the standard measurement for insulin.
- **novodra**: same as above, except for patients that continued treatment with Novodra
- **hba1c_start**: the patient's HbA1c level at the beginning of the first week of treatment. HbA1c stands for Hemoglobin A1c. The [HbA1c test](https://depts.washington.edu/uwcoe/healthtopics/diabetes.html) measures what the average blood sugar has been over the past three months. It is thus a powerful way to get an overall sense of how well diabetes has been controlled. Everyone with diabetes should have this test 2 to 4 times per year. Measured in %.
- **hba1c_end**: the patient's HbA1c level at the end of the last week of treatment
- **hba1c_change**: the change in the patient's HbA1c level from the start of treatment to the end, i.e., `hba1c_start` - `hba1c_end`. For Auralin to be deemed effective, it must be "noninferior" to Novodra, the current standard for insulin. This "noninferiority" is statistically defined as the upper bound of the 95% confidence interval being less than 0.4% for the difference between the mean HbA1c changes for Novodra and Auralin (i.e. Novodra minus Auralin).

In [6]:
adverse_reactions = pd.read_csv('adverse_reactions.csv')
adverse_reactions.head(10)

  given_name     surname           adverse_reaction
0      berta  napolitani  injection site discomfort
1       lena        baer               hypoglycemia
2     joseph         day               hypoglycemia
3     flavia  fiorentino                      cough
4    manouck     wubbels          throat irritation
5    jasmine       sykes               hypoglycemia
6     louise     johnson               hypoglycemia
7    albinca     komavec               hypoglycemia
8        noe      aranda               hypoglycemia
9      sofia   hermansen  injection site discomfort

#### `adverse_reactions`: Table description <a id='topic7><a/>

`adverse_reactions` columns:
- **given_name**: the given name of each patient in the Master Patient Index that took part in the clinical trial and had an adverse reaction (includes both patients treated Auralin and Novodra)
- **surname**: the surname of each patient in the Master Patient Index that took part in the clinical trial and had an adverse reaction (includes both patients treated Auralin and Novodra)
- **adverse_reaction**: the adverse reaction reported by the patient

Additional useful information:
- [Insulin resistance varies person to person](http://www.tudiabetes.org/forum/t/how-much-insulin-is-too-much-on-a-daily-basis/9804/5), which is why both starting median daily dose and ending median daily dose are required, i.e., to calculate change in dose.
- It is important to test drugs and medical products in the people they are meant to help. People of different age, race, sex, and ethnic group must be included in clinical trials. This [diversity](https://www.clinicalleader.com/doc/an-fda-perspective-on-patient-diversity-in-clinical-trials-0001) is reflected in the `patients` table.
- Ensuring column names are descriptive enough is an important step in acquainting yourself with the data. 'Descriptive enough' is subjective. Ideally you want short column names (so they are easier to type and read in code form) but also fully descriptive. Length vs. descriptiveness is a tradeoff and common debate (a [similar debate](https://softwareengineering.stackexchange.com/questions/176582/is-there-an-excuse-for-short-variable-names) exists for variable names). The *auralin* and *novodra* column names are probably not descriptive enough, but you'll address that later so don't worry about that for now.

## Assessing the data <a id='topic4'></a>

>Data assessment can be done in two ways, programmatically or visually.

>Programmtic assesssment is using code to seek for features of the dataset, while visual assessment is simly opening the data filein a spread sheet application or using pandas and look through the rows of it.

>Directed visual assessment is when we have something in mind to discover about our dataset, whereas undirected visual assessment is randomly scrolling through it to find something out of place.

In [19]:
patients.query('bmi == 27')

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
153,154,male,John,Carreiro,1463 Martha Ellen Drive,Reno,NV,89509.0,United States,JohnACarreiro@superrito.com1 775 770 7827,4/8/1976,177.8,68,27.0

*Assessment is usually guided by what we want to analyse, and for this dataset, our key metric is the __change in the hba1c levels__*

>The hba1c level indicates how much blood sugar there has been for a few months back. If we get the change between sstarting the trial and at its end, we can deduce how well Auralin worked compared to Novodra.

In [20]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

In [23]:
patients[patients.address.isnull()]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
209,210,female,Lalita,Eldarkhanov,NaN,NaN,NaN,NaN,NaN,NaN,8/14/1950,143.4,62,26.2
219,220,male,Mỹ,Quynh,NaN,NaN,NaN,NaN,NaN,NaN,4/9/1978,237.8,69,35.1
230,231,female,Elisabeth,Knudsen,NaN,NaN,NaN,NaN,NaN,NaN,9/23/1976,165.9,63,29.4
234,235,female,Martina,Tománková,NaN,NaN,NaN,NaN,NaN,NaN,4/7/1936,199.5,65,33.2
242,243,male,John,O'Brian,NaN,NaN,NaN,NaN,NaN,NaN,2/25/1957,205.3,74,26.4
249,250,male,Benjamin,Mehler,NaN,NaN,NaN,NaN,NaN,NaN,10/30/1951,146.5,69,21.6
257,258,male,Jin,Kung,NaN,NaN,NaN,NaN,NaN,NaN,5/17/1995,231.7,69,34.2
264,265,female,Wafiyyah,Asfour,NaN,NaN,NaN,NaN,NaN,NaN,11/3/1989,158.6,63,28.1
269,270,female,Flavia,Fiorentino,NaN,NaN,NaN,NaN,NaN,NaN,10/9/1937,175.2,61,33.1
278,279,female,Generosa,Cabán,NaN,NaN,NaN,NaN,NaN,NaN,12/16/1962,124.3,69,18.4
286,287,male,Lewis,Webb,NaN,NaN,NaN,NaN,NaN,NaN,4/1/1979,155.3,68,23.6
296,297,female,Chỉ,Lâm,NaN,NaN,NaN,NaN,NaN,NaN,5/14/1990,181.1,63,32.1

### Off Concepts <a id='topic5'></a>

### Dirty Data

>Data is said to be dirt or low quality when it has some quality issues dealing with the __content__ of the dataset.

>The data quality dimensions best describe how dirty a dataset is and its cause.

- __completeness__ checks if we have the data that we want or are they missing eg NAN
- __Validity__ means that the data is present but a data point or set of data points don't conform to a defined schema eg having negative values for height or age. Its not a possible occerence
- __Accuracy__ checks whether the data points have the correct values they should hold eg recording someone's temperature reading as 65degrees rather than 85. it is not accurate
- __Consistency__ checks  to ensure that there is a unifirm way of identifying things in the dataset. eg. surname column is not called last name in another table, using capital letters for names and lowercase fo rsame names in another table.

### Data Quality Dimensions
- Completeness
- Validity
- Accuracy
- Consistency 


While assessing our data, we could use programmatic assesssment to spot out issues. Some programmatic assessment techniques are 
- info() method
- describe()
- sample()

### __Assessment issues__ <a id='topic6'></a>

#### __Quality__

`patients` table:
- zip codes are floats and not strings
- state column sometimes in full, other times abbreviated
- Tim Neudorf height is 27 instead of 72
- zip_code column sometimes has four digits instead of 5
- patient with patient id 9 is spelt Dsvid and not David
- some missing demographics data (eg, adress, city, state)
- erroneous datatypes
 
`treatments` table

- missing data in the hba1c change column
- missing data some rows of data, as total trial was 350, but records are 280
- the 'u' in start and end dose on treatments table
- patients names are in lower case and not title case
- erroneous datatypes
- inaccurate hba1c changes

`adverse_reactions` table
- patient names are in lower case

#### Tidiness
>Data can also be said to be messy or untidy. Tidiness deals with structural issues of the data set

>This resulsts when the ataset does not conform to the following:

- each variable forms a column
- each obersavation froms a row
- each type of observationat unit forms a table

### __Tidiness__ Issues
`patients` table
- contact column contains two variables

`treatments` table
- contains three columns in two variables

`adverse reaction` table
- table should be combined with the treatments table 

_when we join the adverse_reaction and treatment tables we'll also drop the duplicated name columns. Hence, only the patients table will have names in it. The primary key for the both tables will however be the **patients id** whch doesn't change_

## Data Cleaning

After identifying the tidiness and quality issues in the dataset, now we will clean out those issues.
>To begin, the typical order to approach cleaning will be to follow the data quality dimentions already noted.

- Completeness
- Validity
- Accuracy
- Consistency

>However, once we have tackled completeness issues it is more important to handle the tidiness issues next.

>This is because untidy data makes our cleaning process more difficult as we progress. Thus, we must ensure all the tables are as they should before we start addressing the individual issues.

> After the tidiness operation, we will continue to the next data dimension quality issue (validity and so on).

#### Process
The cleaning process will be preformed systematically under the following captions:
>**Define**

Define the cleaning operation to be performed
>**Code**

Write the code to perfrom the operation
>**Test**

Test to confirm that our code worked as it should on the dataset

#### Create a Copy for each table

**Must-Do**

Before performing cleaning operations on any dataset, we must create a copy for that dataset and retain the original as it is.

All cleaning operations must be performed on the copy not the main dataset (much like a back up).

In [ ]:
# create a copy for each dataframe
patients_copy = patients.copy()
treatments_copy = treatments.copy()
adverse_reactions_copy = adverse_reactions.copy()


### Cleaning all missing records first

We have been provided with extra rows of data for the treatments table, we will append it to our main table by concatenating


#### Define
Append the new rows of treatments table data to the copied df

#### Code

In [ ]:
treatments_cut = pd.read_csv('treatments_cut.csv')

treatments_copy = pd.concat([treatments_copy, treatments_cut], ignore_index = True)

#### Test

In [ ]:
treatments_copy.shape

#### Define

>Drop rows with missing demographics data (eg, adress, city, state) in patients table

>Implement right operation for missing data in the hba1c change column in treatments table

#### Code

In [ ]:

# obtain the indexes of row with missing addresses
missing_address = patients_copy[patients_copy.address.isnull()].index

# drop those rows wit missing addresses
patients_copy.drop(index=missing_address, axis=0, inplace=True)

# recalculate the hba1c change column to fill all the missing values in
treatments_copy.hba1c_change = treatments_copy.hba1c_start - treatments_copy.hba1c_end

#### Test

In [ ]:
# confirm that no more rows have missing addresses
patients_copy[patients_copy.address.isnull()]

In [ ]:
# confrim that no more NAN values in hba1c change column
treatments_copy.sample(5)

### Moving On

So, we are done with addressing the completeness issues, we need to prepare our dtaset structure to enable us perform the required operations smoothly.

#### Define

- contact column contains two variables patients
- contains three columns in two variables treatment 
- adverse reactions table should be combined with the treatments table
- given name and surname columns are duplicated (ie unnecessary for both tables) for adverse reactions and treatments 

#### Code

In [ ]:
# preview the dataset
patients_copy.head()

# import the regex library to enable pattern matching in the dataset
import re

In [ ]:
# assign the regex pattern and extract matches from the dataset for phone numbers
phone_regex = r"((\+[0-9].)?(\(\d{3}\).)?([0-9].)?(\d{3}.)?(\d{3}.)(\d{4}))"
patients_copy['phone_number'] = patients_copy.contact.str.extract(pat=phone_regex)[0]

#### Test

In [ ]:
patients_copy.sample(5)

patients_copy[patients_copy.phone_number.isnull()]

#### Code

In [ ]:
# assign the regex pattern and extract matches from the dataset for emails
email_pattern = r"([A-Za-z][A-Za-z0-9.]*@[a-z]*\.[a-z]*)"
patients_copy['email'] = patients_copy.contact.str.extract(pat=email_pattern)

#### Test

In [ ]:
print(patients_copy.email.isnull().sum())

patients_copy.sample(5)

In [ ]:
# drop the contact column
patients_copy.drop(columns = 'contact', inplace=True)
patients_copy.info()

#### Define
create the three columns contained in the two variables on the treatment table

#### code

In [ ]:
treatments_copy.head()

# melt the treatment drug columns into a single 'treatment' column
treatments_copy = pd.melt(treatments_copy, id_vars=['given_name', 'surname', 'hba1c_start', 'hba1c_end', 'hba1c_change'], value_vars=['auralin', 'novodra'],
 var_name='treatment', value_name = 'dosage', ignore_index=True)

treatments_copy.head()

#### Define

Expand the dosage column of treatment table to separate start dose from end dose and remove the unit sign (U)

In [ ]:
treatments_copy['start_dose'] = treatments_copy.dosage.str.split(' - ').str[0].str[:2]
treatments_copy['end_dose'] = treatments_copy.dosage.str.split(' - ').str[1].str[:2]

#### Test

In [ ]:
treatments_copy.head()

In [ ]:
# drop all the NAN rows in start and end dose in treatments table
treatments_copy.dropna(axis=0, inplace = True)
treatments_copy.drop(columns = 'dosage', inplace=True)

#### Test

In [ ]:
treatments_copy.reset_index(inplace=True, drop=True)
treatments_copy.tail(5)

treatments_copy.shape

treatments_copy[treatments_copy.given_name == 'elliot']

#### Define
combine the adverse reactions table with the treatments table by merging them

#### Code

In [ ]:
adverse_reactions_copy.head()

In [ ]:
# merge the two tables on given names and surnames
treatments_copy = treatments_copy.merge(adverse_reactions_copy, how='left', on=['given_name', 'surname'])

#### Define
Since given name and surname columns are duplicated treatments table now, make the common identifier between patient and treatemnt table be the patient id. Drop the names from the treatments table

#### Code

In [ ]:

# create a df containing only the given name, surname and patiednt id from the patients table
df_id = patients_copy[['patient_id', 'given_name', 'surname']].copy()
df_id

In [ ]:
# convert the letter case in the df_id table to lower case to match with treatment table
df_id.given_name = df_id.given_name.str.lower()
df_id.surname = df_id.surname.str.lower()

In [ ]:
# merge the new df with the treatments table on the given name and surname
treatments_copy = df_id.merge(treatments_copy, how ='inner', on=['given_name', 'surname'])

#### Test

In [ ]:
treatments_copy.head()

In [ ]:
# drop the given name and surname columns 
treatments_copy.drop(columns = ['given_name', 'surname'], inplace=True)
treatments_copy.reset_index(inplace=True, drop=True)
treatments_copy

#### Define
- using the pad function, ad a zero to zip_codes in the zip_codes column with four digits instead of 5
- convert zip codes to strings

#### Code

In [ ]:
# convert the datatype of the zip_code column to string
patients_copy.zip_code = patients_copy.zip_code.astype('str')

patients_copy.zip_code = patients_copy.zip_code.str[:-2]

# using the pad function to pad zeros before four digit zip codes
patients_copy.zip_code.str.pad(5, fillchar='0')

#### Define
- Change Tim Neudorf height from 27 instead to 72
- Change patient name in id 9 from Dsvid to David
#### Code

In [ ]:
patients_copy.height[patients_copy.given_name == 'Tim'] = 72

#### Test

In [ ]:
patients_copy[patients_copy.given_name == 'Tim']

In [ ]:
# change name in patient id 9
patients_copy.given_name[patients_copy.patient_id == 9] = 'David'

#### Test

In [ ]:
patients_copy[patients_copy.patient_id == 9]

#### Define
- change the state names from full forms to abbreviated ones

#### Code

In [ ]:
# find the state names that are written in full forms
patients_copy.state.value_counts()

# create a dictionary to carry the state name and its abbreviation
states = {'California': 'CA',
                'New York': 'NY',
                'Illinois': 'IL',
                'Florida': 'FL',
                'Nebraska': 'NE'}

# write the function to replace the affected names in the state column with the abbreviations in the dict

def abbreviation(df):
    if df['state'] in states.keys():
        abb = states[df['state']]
        return abb
    else:
        return df['state']
    
patients_copy.apply(abbreviation, axis= 1)

#### Define
- Correct all erroneous datatypes of bath dfs

In [ ]:
patients_copy.info()

### Phone number data type
>The phone number column shouty of type int, we have to remove all the spaces and non digit characters from it

#### CODE

In [ ]:
patients_copy.phone_number = patients_copy.phone_number.str.replace(r'\D+', '').str.pad(11, fillchar='1')

#### Test

In [ ]:
patients_copy.phone_number.sample(5)

In [ ]:
# change the datatypes
patients_copy.assigned_sex = patients_copy.assigned_sex.astype('category')
patients_copy.zip_code = patients_copy.zip_code.astype('category')
patients_copy.birthdate = pd.to_datetime(patients_copy.birthdate)

patients_copy.info()

In [ ]:
### Treatment table datatypes
>Change the datatype for the start and end dose columne to int

treatments_copy.info()

In [ ]:
treatments_copy.start_dose = treatments_copy.start_dose.astype(int)
treatments_copy.end_dose = treatments_copy.end_dose.astype(int)

#### Test

In [ ]:
treatments_copy.info()

### Duplicate patients names
Some patuients like Jakobsen, Gersten, and Taylor have more than one record. There are also some unuseful John Doe records
>To clean them out, we'll select all rows of the df where the addresses are not duplicated

In [1]:
# rows with duplicated address for same patients but with their nicknames
patients_copy[patients_copy.address.duplicated()]

NameError: name 'patients_copy' is not defined

#### Define
select the remaining of the dataframe excluding these rows, using tilde indexing
>NOTE that tilde (~) means 'is not'

In [ ]:
# select the remaining of the dataframe excluding these rows, using tilde indexing
patients_copy = patients_copy[~patients_copy.address.duplicated()]

patients_copy

In [ ]:
#### Test

In [ ]:
patients_copy[patients_copy.surname == 'Taylor']

treatments_copy.treatment.value_counts()